{% for f in features %}
INSERT INTO "locations" ("name", "coordinates", "published", "description", "osm_node_id", "google_place_id", "imageurl", "address_line")
VALUES (
    '{{ f.properties.zaaknaam | replace("'", "''") }}',
    ST_FlipCoordinates(ST_GeomFromGeoJSON('{{ f.geometry }}')),
    '1',
    '{{ f.properties.zaak_specificatie }}',
    NULL,
    {{ f.properties.format_sql_google_place_id() }},
    NULL,
    '{{ f.properties.adres | replace("'", "''")  }}'
);
{% endfor %}
